<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdn.demo.portal.HomeMapper">
	
	<select id="selectELCTMST" resultType="hashMap">
		select * from elctmst1
	</select>
		
	<delete id="deleteELCTMST" parameterType="integer">
		delete from elctmst1 
		where elct_id = #{elct_id} 
	</delete>
	
	<insert id="insertELCTMST" parameterType="hashMap">
		insert into elctmst1(elct_nm, elct_pwr) 
		      values (#{ELCT_NM}, #{ELCT_PWR})		
	</insert>
		
	<select id="selectMonthUsage" resultType="hashMap">
		select * from elctuse1
	</select>
	
</mapper>